<%- include('header') %>
  
<div style="position: absolute; top: 20%; left: 40%;">
  <h1>Nasa Content Search</h1>
  <h7>Created by Jerry Registre</h7>
    <form name="form1" method="GET" action="/search">
    <table>
        <tr>
        <td>General Search:</td>
        <td><input type="text" name="general_search" ></td>
        </tr>

        <tr>
        <td><hr><h4>Search By:</h4></td></br>
        </tr>
        <td>Title:</td>
        <td><input type="text" name="title" ></td>
        </tr>
        <tr>
        <td>Description:</td>
        <td><input type="text" name="description" ></td>
        </tr>
        <tr>
        <td>Location:</td>
        <td><input type="text" name="location" ></td>
        </tr>
        <tr>
        <td>After Year:</td>
        <td><input type="number" name="year_start" min="1" max="9999"></td>
        </tr>
        <tr>
        <td>Before Year:</td>
        <td><input type="number" name="year_end" min="1" max="9999"></td>
        </tr>
        <tr>
          <td>Nasa Center:</td>
          <td>
            <select name="nasa_center">
              <option selected value =""></option>
              <option value="HQ">Headquarters</option>
              <option value="ARC">Ames Research Center</option>              
              <option value="AFRC">Armstrong Flight Research Center</option>
              <option value="GRC">Glenn Research Center</option>
              <option value="GSFC">Goddard Space Flight Center</option>
              <option value="JPL">Jet Propulsion Laboratory</option>
              <option value="JSC">Johnson Space Center</option>
              <option value="KSC">Kennedy Space Center</option>
              <option value="LRC">Langley Research Center</option>
              <option value="MSFC">Marshall Space Flight Center</option>
              <option value="MAF">Michoud Assembly Facility</option>
              <option value="SSC">Stennis Space Center</option>
            </select>
          </td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Search" ></td>
        </tr>
    </table>
    </form>   
  </div>
