<%- include('header') %>
  
<div style="position: absolute; top: 20%; left: 40%;">
  <h1>USW34 Artifact Search</h1>
  <h7>JR - Section: Anthony Shannon</h7>
    <form name="form1" method="GET" action="/search2">
    <table>
        <tr>
        <td>General Search:</td>
        <td><input type="text" name="general_search" ></td>
        </tr>

        <tr>
        <td colspan="2"><input type="submit" value="Search" ></td>
        </tr>
    </table>
    </form>   
  </div>

    <div class="btn-group" style="width:100%">Recommended Searches
      <button style="width:33.3%" onclick="window.location.href = '/search2?general_search=kara+walker';">Kara Walker</button>
      <button style="width:33.3%" onclick="window.location.href = '/search2?general_search=civil+war';">Civil War</button>
      <button style="width:33.3%" onclick="window.location.href = '/search2?general_search=reconstruction';">Reconstruction</button>
      <p style="width:5%"></p>
      <br>
    </div>
